version: '3.8'

services:
  healthhive-frontend:
    image: rohitkumar02/healthhive-cloudops-frontend:latest
    container_name: healthhive-frontend
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: production
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - healthhive-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  healthhive-network:
    driver: bridge
