apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: default
  labels:
    app: health-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: health-backend
  template:
    metadata:
      labels:
        app: health-backend
    spec:
      containers:
      - name: health-backend
        image: rohitkumar02/healthhive-cloudops-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: SERVER_PORT
          value: "8080"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "1000m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 40
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: default
  labels:
    app: health-backend
spec:
  type: ClusterIP
  selector:
    app: health-backend
  ports:
  - name: http
    port: 8080
    targetPort: 8080

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: default
data:
  application.properties: |
    spring.application.name=HealthRecordsBackend
    server.port=8080
    spring.jpa.hibernate.ddl-auto=update
    spring.datasource.url=jdbc:mysql://mysql-service:3306/health_records
    spring.datasource.username=root
    spring.datasource.password=root
    spring.jpa.show-sql=false
    spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
